<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Monster killer</title>
  </head>
  <body>
    <main id="game">
      <section class="lifepoints">
        <div class="player">
          <span class="label">Jogador</span>
          <div class="lifebar">
            <div class="life" :style="{'width': width1}"></div>
          </div>
          <span>{{playerLife}}%</span>
        </div>
        <div class="monster">
          <span class="label">Monstro</span>
          <div class="lifebar">
            <div class="life" :style="{'width': width2}"></div>
          </div>
          <span>{{monsterLife}}%</span>
        </div>
      </section>

      <section class="start" @click="startGame()" v-if="visible1">
        <button class="btnstart">INICIAR NOVO JOGO</button>
      </section>

      <section class="options" v-if="visible2">
        <button class="option attack" @click="attack()">ATAQUE</button>
        <button class="option spattack" @click="attack(true)">ATAQUE ESPECIAL</button>
        <button class="option heal" @click="heal()">CURAR</button>
        <button class="option quit" @click="quitGame()">DESISTIR</button>
      </section>

      <section class="logs" v-if="visible3 && logs.length">
        <div v-for="log in logs" class="log" :class="log.cls">{{log.text}}</div>
      </section>

      <section class="victory" v-if="visible4">
        <h3>Você ganhou! :)</h3>
      </section>

      <section class="defeat" v-if="visible5">
        <h3>Você perdeu! :(</h3>
      </section>
    </main>
  </body>
</html>
<script src="scripts/app.js"></script>
