body{
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #DCDCDC;  
}

#game {
  margin: 10px;
}

section{
  margin-bottom: 15px;  
  height: 95px;
  border: 1px none #000;  
  display: flex;
  align-items: center;
  justify-content: center;      
  background-color: #FDFAFA;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
}

.lifepoints{
  display: flex;
  justify-content: space-around;  
}

.player, .monster{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lifebar {
  width: 300px;
  height: 15px;
  border: 1px solid #000;
  background-color: #008000;
}

.label {
  display: block;
  margin: 10px 10px;
}

button{
  height: 25px;
  border-radius: 5px;
}

.btnstart{
  background-color: #483D8B;
  color: #fff;  
}

.option{
  margin-left: 15px;
}

.attack{
  background-color: #f32222;
  color: #fff;
}

.spattack{
  background-color: #FFA500;  
}

.heal{
  background-color: #1fac1f;
  color: #fff;
}

.quit{
  background-color: #A9A9A9;
}

.result{
  height: 45px;
}

.victory{  
  color: #008000;
}

.defeat{
  color: #f32222;
}

.logs{  
  flex-direction: column;  
}

.log{
  width: 98%;  
  text-align: center;
  margin-bottom: 10px;
  border-radius: 2px;  
}

.monsterdamage{
  background-color: #CD5C5C;
}

.playerdamage{  
  background-color: #6495ED;
}


